body,html{
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #fcfcfc;
}

@media only screen and (min-width: 800px){
	.nav-mob{
		display: none;
	}
	.nav-bar{
		color: white;
		position: sticky;
		top:0;
	}
	#nav-logo{
		height: 30px;
	}
	.nav-flex{
		padding: 10px 5%;
		display: flex;
		justify-content: space-between;
	}
	.basic-details{
		font-family: Helvetica,'Roboto',Sans-serif ;
		color: white;
		padding: 10px;
	}
	.nav-bar ul{
		font-family: 'Roboto', Sans-serif;
		padding: 5px;
		list-style-type: none;
		display: inline-block;
		margin: 0;
	}
	.nav-bar li{
		padding: 5px 15px;
		display: inline-block;
	}
	.nav-bar li:hover{
		color: #60c1fc;
		cursor: pointer;
	}

	.Genesis{
		font-size:7em;
	}
	.member-exclusive{
		font-size: 1.5em;
		padding: 25px;
	}
	.val{
		font-size: 48px;
	}
	.landing{
		background-image: url("./assets/main-3.jpg");
		height: 100%;
	}
	#about{
		margin:  30px 150px;
	}
	.about-sponsors{
		margin:  10px 150px;	
	}
	.day-div{
		padding: 30px 0;
		width: 50%;
	}
	.day-details{
		padding: 25px 60px; 
	}
	hr{
		width: 25%;
	}
	.day-topic{
		font-size: 2em;
	}
	.speaker-grid{
		padding: 0px 100px 50px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around; 
	}
	.card{
		width: 25%;
		min-height: 440px;
	}	

	.img-wrap{
		height: 200px;
	}
	.sponsor-images img{
		width:  300px;
	}
	#oneplus{
		width: 180px;
	}
	.sponsor-wrap{
		width: 300px;
		display: inline-block; 
		padding: 0 40px;
	}
}
	
@media only screen and (max-width: 799px){
	a{
		color: green; 
	}
	.drop-item{
		text-align: center;
		font-family: 'Roboto', Sans-serif;
		background-color: #262626;
		padding: 10px;
		color: white;
		font-size: 0.8em;

	}
	#dropdown{
		display: none;
	}
	.nav-bar{
		display: none;
	}
	.nav-mob-flex{
		display: flex;
		justify-content: space-between;

	}
	.nav-mob-flex img{
		padding: 5px 20px ;
		height: 30px;
	}
	.Genesis{
		font-size: 4em;
	}
	.member-exclusive{
		font-size: 1.2em;
	}
	.landing{
		background-image: url("./assets/main-3.jpg");
		height: calc(100% - 40px);
	}
	#about{
		/*text-align: left;*/
		margin:  30px 15px;
		/*font-size: 14px;*/
	}
	.about-sponsors{
		margin:  10px 40px;	
	}
	.title{
		font-size: 0.8em;
	}

	.day-div{
		padding: 50px 0;
		width: 100%;
	}
	.day-details{
		padding: 25px 30px; 
		font-size: 1.1em;
	}
	hr{
		width: 50%;
	}
	.day-topic{
		font-size: 1.8em;
	}
	.speakers{
		padding: 20px 0;	
	}
	#event{
		padding-top:20px;	
	}
	.speaker-grid{
		padding: 0 30px;
	}
	.card{
		width: 100%;
		min-height: 500px;
	}
	.img-wrap{
		max-height: 300px;
	}
	.sponsor-images img{
		padding: 20px 0;
		width:  200px;
	}
	#oneplus{
		width: 160px;
	}
}

.inner-flex{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
}
.landing{
	overflow-y: hidden;
	/*background-image: url("main-2.jpg");*/
	background-size: cover;
	/*height: 100%;*/
}
.landing-container{
	text-align: center;
}
.member-exclusive{
	padding: 15px;
	font-family: 'Roboto', Sans-serif;
	font-weight: lighter;
	color: #60c1fc;
}
.Genesis{
	color: white;
	padding: 25px;
	font-family: Gotham,'Raleway',Sans-serif;
	font-weight: bold;
}
hr{
	border-width:0;
	height: 1px;
	background-color:white;
	/*width: 25%;*/
}

.counter{
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
}
.val{
	color: white;
	font-family: Helvetica,'Roboto',Sans-serif;
	font-weight: bold;
}
.title{
	font-family: 'Roboto',Sans-serif;
	color: #60c1fc;
}

#about{
	font-family: Helvetica,'Roboto',Sans-serif;
	text-align: center;
	color: grey;
}
.speakers,#event{
	text-align: center; 
}

.heading{
	font-family:Helvetica,'Roboto',Sans-serif;
	font-size:1.7em;
}
.mic{
	padding-bottom:  10px;
	height: 50px;

}
.about-sponsors{
	font-family: Helvetica,'Roboto',Sans-serif;
	text-align: center;
	color: grey;
}
.dates{
	padding-bottom: 10px; 
}
.inner-img{
	display: flex;
	align-items:center;
}
.sponsor-images{

	text-align: center;
	margin: 20px auto;
}
.sponsor-images img{
	padding: 20px 0;
}
.day-wise{
	display: flex;
	flex-wrap: wrap;
}
.day-div{
	text-align: center;
	background-size: cover;
}
#day1{
	background-image: url('./assets/design_pilot.jpg');
	  
}
#day2{
	background-image: url('./assets/code-screen.png');  
}
#day3{
	background-image: url('./assets/code-screen2.png');
}
#day4{
	background-image: url('./assets/code-screen3.png');
}
.day{
	padding: 3px;
	font-family: Roboto, Sans-serif;
	font-weight: lighter;
	font-size: 1.7em;
	color: white;
}
.day-topic{
	font-family: 'Raleway',Sans-serif;
	font-weight: bold;
	color: white;
}
.time{
	font-family:Helvetica,'Roboto',Sans-serif;
	color: white;
}
.venue{
	padding: 5px 0;
	font-family:Helvetica,'Roboto',Sans-serif;
	color: white;
	font-weight: bold;
}
.day-details{ 
	color: white;
	font-family:Roboto, Sans-serif;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	text-decoration:none;
}
.card{
	box-shadow: 10px 10px 10px 0px rgba(26,26,15,0.2);
	background-color: white;
	margin: 40px 0 ;
}
.img-wrap{ 
	overflow: hidden;
}
.img-wrap img{
	width: 100%;
}
.speaker-name{
	padding-top: 10px;
	padding-bottom: 5px;
	font-family: Roboto, Sans-serif;
	font-size: 1.1em;
}
.speaker-details{
	color: #0384fc;
	font-family: Helvetica,'Roboto',Sans-serif;
}
.speaker-desc{
	font-family: Helvetica,'Roboto',Sans-serif;
	color: grey;
	padding: 10px 20px;
	font-size: 0.9em;
}
.sponsors{
	padding: 25px;
	text-align: center;
}
.sponsor-title{
	font-family: Helvetica,'Roboto',Sans-serif;
	color: grey;
	font-size: 1.2em;
}
.sponsor-wrap{
	padding-bottom: 10px;
}
.heart{
	color: red;
}
.footer{
	padding: 20px;
	background-color: black;
	text-align: center;
	font-family: Helvetica;
	color: white;
}